body{
  background-color: teal;
}

.heading{
  text-align : center;
  font-family : cursive; 
  color : lavender;
  margin-top: 30px;;
}

.input-form{
  text-align: center;
  margin-top: 100px;
}
.result{
  font-size: 20px;
  border : 1px solid whitesmoke;
  padding: 10px;
  margin-top: 30px;
}

.input-class{
  margin-left: 20px;
  font-size: 20px;
  border : 1px solid whitesmoke;
  padding: 10px;
}
.submit-button{
  margin-left: 30px;
  color: white;
  background: rgb(0, 113, 235);
  border: 2px solid rgb(0, 113, 235);
  border-radius: 8px;
  cursor: pointer;
  outline-offset: 4px;
  font-weight: 600;
  text-align: center;
  padding: 10px 20px;
  font-size: 20px;
}
.table-class{
  display: flex;
  font-size: 20px;
  margin-left: 650px;
}
.edit-btn{
  margin-left: 10px;
  cursor: pointer;
}
.list-class{
  display: flex;
  margin-left: 650px;
  font-size: 20px;
}